<!DOCTYPE html>
<body class="hero-bg">
  <div class="container hero-image">
    <div class="hero-text">
      <h1>The Day Tobin Photobook</h1>
      <p>Views from our travels!</p>
      <button class="exlpore">Explore!</button>
    </div>
  </div>
</body>
